{
  "parser": "babel-eslint",
  "extends": [
    "react",
    "eslint-plugin-react",
    "eslint-config-react",
    "eslint-config-airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
